doctype html
html(lang="en")
  head
    link(href="/public/css/bootstrap.css", rel="stylesheet")
    link(href="/public/css/main.css", rel="stylesheet")
    title=home
  body
    .container.home-container
      .row
        .col-md-12
          buh
      
