doctype html
html(lang="en")
  head
    link(href="/public/css/bootstrap.css", rel="stylesheet")
    link(href="/public/css/main.css", rel="stylesheet")
    title=home
  body.homebody
   .jumbotron
     .row.header Party Playlist
     .row.description Create a party playlist easily customizable by you and your friends. 
     .row
     form(method='post')
       button.btn(name='submit') Get Started
