

doctype html
html(lang="en")
  head
    link(href="/public/css/bootstrap.css", rel="stylesheet")
    link(href="/public/css/main.css", rel="stylesheet")
    title=roomId
  body
    .container.main-container
      .row.row1
        .col-md-4
          button.btn play
        .col-md-8
          input(type="text" placeholder="Enter Keywords") 
      .row
        .col-md-16
          ul
            li.well    
              .container-fluid
                .col-md-3 Mr. Brightside  
                .col-md-3 The Killers
                .col-md-3 Hot Fuzz
                .col-md-3 3:21
            li.well  
              .container-fluid
                .col-md-3 Sunday Morning
                .col-md-3 Maroon 5
                .col-md-3 Album
                .col-md-3 3:45
            li.well    
              .container-fluid
                .col-md-3 The Stand
                .col-md-3 Mother Mother
                .col-md-3 Album
                .col-md-3 3:44
