doctype html
html(lang="en")
  head
    link(href="/public/css/bootstrap.css", rel="stylesheet")
    link(href="/public/css/main.css", rel="stylesheet")
    script(src="/public/js/jquery-2.1.1.min.js")
    script(src="/public/js/underscore-min.js")
    script(src="/public/js/typeahead.bundle.js")
    script(src="/public/js/backbone-min.js")
    script(src="/public/js/main.js")
    title=roomId
  body
    .container
      .row.row1
        .col-md-4
          button.btn play
        .col-md-8
          input.search(type="text" placeholder="Enter Keywords") 
      .row
        .col-md-16
          ul
            li.well sample text 
            li.well more sample text 
                
