body{
  background: #444;
 /* background-image: url("/public/img/Icon.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 10px 10px;*/  
  padding: 50px;
}

.homebody{
  background-image: url("/public/img/botpic.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
}

ul {
  list-style-type: none;
}

.row1{
  padding-bottom: 100px; 
}

input{
  width: 300px;
  height: 50px;
  font-size: 30px;
  margin-top: 1px;
  padding: 5px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.magnify{
  width: 50px;
  height: 50px;
  font-size: 30px;
  background: #81b900;
  border-color: #81b900;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.input-group {
  float: right;
}

li{
  font-size: 1.7em;
  font-weight: bold;
  color: #444; i
  height: 65px;
}

li.well{
  background-color: #81b900;
  border-color: #81b900;
  border-radius: 35px;
}

.well h2 {
  text-align: center;
}

.col-md-4{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} 

.col-md-3{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item{
  background-color: #444;
  color: #81b900;
  border: 3px solid;
  border-color: #81b900;
  border-radius: 2px;
  padding-bottom: 0px;
  padding-left: 20px;
  margin: 0px;
}

.header{
  font-size: 6.5em;
  font-weight: bold;
  color: #81b900;
}

.description{
  font-size: 3em;
  color: #bcbcca;
}

.jumbotron{
  text-align: center;
  background-color: transparent;
  border: 1px;
}

.btn{
  border-radius: 30px;
  background-color: #81b900;
  margin-top: 55px;
  font-size: 4.7em;
  font-style: bold;
  color: #333;
}

.embed {
  margin-bottom: -70px;
  margin-left: 40px;
}
